include ../../sys/pug/vars

header.header
	.case
		.header__wrap.row
			.header__logo.logo
				.logo__icon
				.logo__text
			.header__nav
				ul
					li
						a(href="")
					li
						a(href="")
					li
						a(href="")
					li
						a(href="")
			.header__contacts
				.header__socials.socials
					.socials__list
						.socials__item(href="" target="_blank")
						.socials__item(href="" target="_blank")

				.header__feedback
					.header__phone
					.header__callback #[a(href="javascript:;")]