@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraboldItalic.eot");
  src: local("Gilroy Extrabold Italic"), local("Gilroy-ExtraboldItalic"), url("../fonts/Gilroy-ExtraboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraboldItalic.woff2") format("woff2"), url("../fonts/Gilroy-ExtraboldItalic.woff") format("woff"), url("../fonts/Gilroy-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"), url("../fonts/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-MediumItalic.woff2") format("woff2"), url("../fonts/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"), url("../fonts/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BlackItalic.woff2") format("woff2"), url("../fonts/Gilroy-BlackItalic.woff") format("woff"), url("../fonts/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("../fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("../fonts/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-RegularItalic.woff2") format("woff2"), url("../fonts/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiboldItalic.eot");
  src: local("Gilroy Semibold Italic"), local("Gilroy-SemiboldItalic"), url("../fonts/Gilroy-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiboldItalic.woff2") format("woff2"), url("../fonts/Gilroy-SemiboldItalic.woff") format("woff"), url("../fonts/Gilroy-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"), url("../fonts/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-HeavyItalic.woff2") format("woff2"), url("../fonts/Gilroy-HeavyItalic.woff") format("woff"), url("../fonts/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), url("../fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"), url("../fonts/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"), url("../fonts/Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLightItalic.woff2") format("woff2"), url("../fonts/Gilroy-UltraLightItalic.woff") format("woff"), url("../fonts/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-LightItalic.eot");
  src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"), url("../fonts/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/Gilroy-LightItalic.woff") format("woff"), url("../fonts/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"), url("../fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Heavy.woff2") format("woff2"), url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"), url("../fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ThinItalic.eot");
  src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"), url("../fonts/Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ThinItalic.woff2") format("woff2"), url("../fonts/Gilroy-ThinItalic.woff") format("woff"), url("../fonts/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.eot");
  src: url("../fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.ttf") format("truetype"), url("../fonts/FuturaPT-Bold.svg#FuturaPT-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
}

body {
  color: #112436;
  font-size: 14px;
  font-family: "Gilroy", sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #F5F6F8;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

a {
  color: #112436;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}

input, textarea, button {
  outline: none;
  appearance: none;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important;
}

svg {
  display: block;
}

path, circle, rect, line {
  transition: 0.3s;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.case {
  position: relative;
  width: 100%;
  max-width: 1310px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.case .case {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1340px) {
  .case {
    width: 1150px;
  }
}
@media screen and (max-width: 1199px) {
  .case {
    width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .case {
    width: 730px;
  }
}
@media screen and (max-width: 767px) {
  .case {
    width: 560px;
  }
}
@media screen and (max-width: 580px) {
  .case {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}

.btn {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-family: "Gilroy", sans-serif;
  overflow: hidden;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  border-bottom: none;
}
.btn.--sm {
  min-height: 54px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
}
.btn.--md {
  min-height: 68px;
  padding: 0 43px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
}
.btn.--bg-blue {
  color: #fff;
  background-color: #00CCCA;
  box-shadow: 0px 10px 44px rgba(2, 203, 204, 0.3);
}
.btn.--bg-blue:hover {
  background-color: #F67A49;
  box-shadow: none;
}
.btn.--bg-white {
  color: #00CCCA;
  background-color: #fff;
}
.btn.--bg-white:hover {
  color: #fff;
  background-color: #F67A49;
  box-shadow: none;
}
.btn.--b-blue {
  color: #00CCCA;
  background: transparent;
  border: 2px solid #00CCCA;
  border-radius: 5px;
}
.btn.--b-blue:hover {
  color: #fff;
  background-color: #00CCCA;
}

.check {
  cursor: pointer;
}
.check input {
  display: none;
}

.checkbox {
  display: inline-flex;
  flex-wrap: wrap;
}
.checkbox__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #D0D0D0;
  transition: 0.3s;
}
.checkbox__box svg {
  transition: 0.3s;
  transform: scale(0);
}
.checkbox__wrap {
  width: calc(100% - 20px);
  padding-left: 11px;
  font-size: 12px;
  line-height: 15px;
  color: #5F5F5F;
  letter-spacing: 0.02em;
}
.checkbox__wrap a {
  color: #5F5F5F;
  border-color: #5F5F5F;
}
.checkbox__wrap a:hover {
  border-color: transparent;
}
.checkbox.--checked .checkbox__box {
  border-color: #00CCCA;
  background-color: #00CCCA;
}
.checkbox.--checked .checkbox__box svg {
  transform: scale(1);
}

.input__wrap {
  position: relative;
}
.input__area {
  width: 100%;
  font-size: 14px;
  font-family: "Gilroy", sans-serif;
  color: #112436;
  transition: 0.3s;
  cursor: pointer;
}
.input.--sm .input__area {
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
}
.input.--md .input__area {
  height: 70px;
  padding-left: 16px;
  padding-right: 16px;
}
.input.--bg-white .input__area {
  border-radius: 6px;
  background-color: #fff;
}
.input.--bg-white .input__area::placeholder {
  opacity: 1;
  color: #A9A9A9;
}
.input.--b-gray .input__area {
  font-size: 15px;
  letter-spacing: 0.02em;
  border-radius: 6px;
  border: 1px solid #D0D0D0;
}
.input.--b-gray .input__area::placeholder {
  opacity: 1;
  color: #A9A9A9;
}
.input.--b-gray .input__area:focus {
  border-color: #00CCCA;
}

.case {
  border-right: 1px solid red;
  border-left: 1px solid red;
}

.overflow-disable {
  overflow: hidden;
}

.swiper-button-prev, .swiper-button-next {
  outline: none;
}

.logo {
  color: #00CCCA;
  font-weight: 900;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
}

.header {
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding-top: 29px;
}
.header__wrap {
  align-items: flex-start;
}
.header__desc {
  font-size: 12px;
  line-height: 1.3;
  margin-top: 5px;
  letter-spacing: 0.02em;
  color: #808080;
}
.header__nav {
  padding-top: 20px;
  margin-left: auto;
  margin-right: 88px;
}
.header__nav ul {
  margin-left: -36px;
  margin-right: -36px;
}
.header__nav li {
  margin-left: 36px;
  margin-right: 36px;
}
.header__nav a {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.header__nav a:hover {
  color: #00CCCA;
}
.header__contacts {
  align-items: center;
  padding-top: 5px;
}
.header__socials {
  margin-right: 26px;
}
.header__feedback {
  text-align: right;
}
.header__phone {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 700;
}
.header__callback {
  font-size: 18px;
  line-height: 20px;
  margin-top: 3px;
}
.header__callback a {
  border-color: #112436;
}
.header__callback a:hover {
  border-color: transparent;
}

.socials__list {
  display: flex;
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.socials__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #00CCCA;
  border-radius: 50%;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.socials__item:hover {
  background-color: #F67A49;
}

.r {
  z-index: 1;
  position: relative;
}
.r:before, .r:after {
  opacity: 0.5;
  z-index: -1;
  position: absolute;
  content: "";
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #44E5C9;
  transform: scale(0);
}
.r:before {
  animation: rbuble 4s linear 0s infinite;
}
.r:after {
  animation: rbuble 4s linear 2s infinite;
}
@keyframes rbuble {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.h1 {
  font-size: 26px;
  line-height: 42px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.h1.r:before, .h1.r:after {
  top: -13px;
  left: -20px;
}
.h1 i {
  color: #00CCCA;
  font-family: "Futura PT";
}
.h1 u {
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0.9px;
}

.h2 {
  font-size: 23px;
  line-height: 50px;
  font-weight: 800;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.h2.r:before, .h2.r:after {
  top: -13px;
  left: -20px;
}
.h2 u {
  font-size: 30px;
  line-height: 42px;
}

.h6 {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  color: #00CCCA;
  font-family: "Futura PT";
}

.t2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  min-height: 41px;
  color: #F67A49;
  font-weight: 700;
  border: 2px solid #F67A49;
  border-radius: 50px;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  position: relative;
}
.label.--dot:before, .label.--dot:after {
  position: absolute;
  content: "";
  border-radius: 50%;
}
.label.--dot:before {
  width: 19px;
  height: 19px;
  background: #2BD97B;
  top: -5px;
  left: 7px;
  box-shadow: 0px 0px 30px #2BD97B;
}
.label.--dot:after {
  width: 33px;
  height: 33px;
  border: 1px solid #2BD97B;
  opacity: 0.23;
  top: -12px;
  left: 0;
  animation: dots-pulse 1.5s infinite;
}

@keyframes dots-pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(0.5, 0.5, 0.5);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.intro {
  padding-top: 132px;
}
.intro__content {
  width: 100%;
  max-width: 630px;
  padding-top: 60px;
}
.intro__label {
  margin-bottom: 40px;
}
.intro__title {
  margin-bottom: 5px;
}
.intro__text {
  opacity: 0.7;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0.02em;
  max-width: 530px;
  margin-bottom: 25px;
}
.intro__btn {
  display: inline-flex;
}
.intro__img-wrap {
  width: 727px;
  top: 0;
  right: -37px;
  position: absolute;
}
.intro__name {
  position: absolute;
  opacity: 0.13;
  color: #C4C4C4;
  font-size: 165px;
  font-weight: 900;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  top: 436px;
  left: 22px;
}
.intro__list {
  z-index: 5;
  position: relative;
  display: flex;
  margin-top: 195px;
  margin-left: -11px;
  margin-right: -11px;
}
.intro__item {
  position: relative;
  width: 100%;
  margin-left: 11px;
  margin-right: 11px;
  padding: 32px 29px 28px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 10px;
  white-space: nowrap;
}
.intro__item-icon {
  width: 80px;
  left: 5px;
  top: -52px;
  position: absolute;
}
.intro__item-text {
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.fplus {
  display: flex;
  justify-content: center;
  width: 345px;
  height: 377px;
  padding-top: 43px;
  padding-left: 37px;
  background-image: url("../imgs/fplus-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.int-img__img {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 551px;
}
.int-img__bg {
  position: absolute;
  top: 30px;
  left: 0;
  width: 575px;
}
.int-img__text-eazy {
  position: absolute;
  top: 42px;
  right: 365px;
  width: 320px;
  height: 121px;
  padding-top: 26px;
  padding-left: 54px;
  font-size: 21.2px;
  line-height: 140%;
  letter-spacing: 0.02em;
  background: url("../imgs/intro-home.svg") no-repeat center;
}
.int-img__text-plus {
  position: absolute;
  top: -9px;
  right: -26px;
}

.scroll {
  position: absolute;
  top: -132px;
  left: -252px;
  width: 195px;
}
.scroll__line {
  width: 1px;
  height: 528px;
  background: #B3B7C1;
  margin-left: 10px;
  margin-bottom: 40px;
}
.scroll__mouse {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 42px;
  border-radius: 30px;
  padding-top: 4px;
  margin-bottom: 14px;
  border: 2px solid #B3B7C1;
}
.scroll__mouse div {
  width: 2px;
  height: 0;
  transition: 0.3s;
  background-color: #B3B7C1;
  border-radius: 50%;
  animation: mouseRoll 3s linear infinite;
}
.scroll__arrows {
  margin-left: -2px;
}
.scroll__arrows div {
  opacity: 0;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  transition: 0.3s;
}
.scroll__arrows div:last-of-type {
  margin-bottom: 0;
}
.scroll__arrows div:before, .scroll__arrows div:after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #B3B7C1;
}
.scroll__arrows div:before {
  transform: rotate(45deg);
  margin-right: -5px;
}
.scroll__arrows div:after {
  transform: rotate(-45deg);
}
.scroll__arrows div:nth-of-type(1) {
  animation: arrowOpacity1 3s linear infinite;
}
.scroll__arrows div:nth-of-type(2) {
  animation: arrowOpacity2 3s linear infinite;
}
.scroll__arrows div:nth-of-type(3) {
  animation: arrowOpacity3 3s linear infinite;
}
.scroll__text {
  margin-top: 55px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #B3B7C1;
}

@keyframes mouseRoll {
  0% {
    height: 0;
  }
  10% {
    height: 6px;
  }
  60% {
    height: 6px;
  }
  70% {
    height: 0;
    transform: translateY(20px);
  }
  100% {
    height: 0;
  }
}
@keyframes arrowOpacity1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes arrowOpacity2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes arrowOpacity3 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.help {
  padding-top: 152px;
  padding-bottom: 78px;
}
.help__img {
  max-width: 550px;
  width: 100%;
  margin-right: auto;
  position: relative;
  left: 25px;
}
.help__img-wrap {
  position: relative;
}
.help__text-plus {
  position: absolute;
  top: -62px;
  right: -135px;
}
.help__figure-left {
  position: absolute;
  top: auto;
  bottom: -300px;
  left: -320px;
}
.help__figure-right {
  position: absolute;
  top: -104px;
  right: -88px;
}
.help__content {
  max-width: 597px;
  width: 100%;
  margin-top: 24px;
  margin-left: auto;
  position: relative;
}
.help__desc {
  margin-bottom: 16px;
}
.help__title {
  margin-bottom: 10px;
  position: relative;
}
.help__title u {
  font-size: 41px;
  letter-spacing: 0.4px;
}
.help__text {
  opacity: 0.6;
  margin-bottom: 9px;
  max-width: 520px;
  width: 100%;
}
.help__controls {
  align-items: center;
}
.help__socials {
  margin-left: 23px;
}
.help__socials .socials__list {
  margin-left: -14px;
  margin-right: -14px;
}
.help__socials .socials__item {
  margin-left: 14px;
  margin-right: 14px;
}

.online__content {
  max-width: 605px;
  width: 100%;
  margin-right: auto;
}
.online__titles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 37px;
}
.online__desc {
  width: 100%;
  margin-bottom: 19px;
}
.online__title {
  width: calc(100% - 140px);
  line-height: 41px;
}
.online__title u {
  letter-spacing: 1px;
}
.online__label {
  width: 140px;
}
.online__list {
  align-items: flex-start;
  margin-bottom: -39px;
}
.online__item {
  margin-right: 34px;
  margin-bottom: 39px;
}
.online__item:last-of-type {
  margin-right: 0;
}
.online__item:nth-of-type(even) {
  position: relative;
  top: 40px;
}
.online__imgs-wrap {
  position: relative;
  max-width: calc(100% - 605px + 30px);
  margin-left: -30px;
  width: 100%;
}
.online__img {
  z-index: 3;
  position: relative;
  width: 862px;
  margin-top: 15px;
}
.online__rocket {
  position: absolute;
  top: -295px;
  right: -176px;
}
.online__bg {
  z-index: 4;
  position: absolute;
  top: -15px;
  right: -312px;
}

.on-item {
  width: 230px;
  min-height: 263px;
  background: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px 15px 35px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.on-item:hover {
  color: #fff;
  background: #00CCCA;
  box-shadow: none;
}
.on-item:hover .on-item__icon svg path {
  fill: #fff;
}
.on-item:hover .on-item__name:after {
  background: #fff;
}
.on-item__icon {
  width: 72px;
  height: 72px;
  margin-bottom: 20px;
  transition: 0.3s;
}
.on-item__name {
  font-size: 16px;
  font-family: "Futura PT";
  line-height: 19px;
  font-weight: 700;
  letter-spacing: 0.1px;
  padding-bottom: 22px;
  margin-bottom: 22px;
  position: relative;
}
.on-item__name:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background: #00CCCA;
  transition: 0.3s;
}
.on-item__text {
  letter-spacing: 0.4px;
  line-height: 19px;
}

.team {
  z-index: 10;
  position: relative;
  padding-top: 198px;
}
.team__grid {
  align-items: center;
  margin-left: -13px;
  margin-right: -13px;
  margin-bottom: -40px;
}
.team__elem {
  width: calc(50% - 26px);
  margin-left: 13px;
  margin-right: 13px;
  margin-bottom: 40px;
}
.team__desc {
  margin-bottom: 17px;
}
.team__title {
  margin-bottom: 13px;
}
.team__title u {
  line-height: 0;
}
.team__text {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0.02em;
  max-width: 440px;
  width: 100%;
  margin-bottom: 20px;
}
.team__text i {
  color: #00CCCA;
  font-size: 23px;
  line-height: 32px;
}
.team__btn {
  max-width: 276px;
}
.team__btn.--md {
  padding: 0 42px;
}
.team__more {
  max-width: 225px;
  margin-top: 47px;
  margin-left: auto;
  margin-right: auto;
}
.team__more.btn.--md {
  padding: 0 37px;
  white-space: nowrap;
}

.employee {
  background: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  min-height: 414px;
}
.employee__img {
  width: 258px;
  background: #EBEEF4;
}
.employee__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.employee__inner {
  width: calc(100% - 258px);
  padding: 35px 38px 15px 26px;
}
.employee__name {
  font-size: 26px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 14px;
}
.employee__desc {
  letter-spacing: 0.9px;
  color: #737373;
  margin-bottom: 18px;
}
.employee__exp {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.employee__text {
  color: #575757;
  letter-spacing: 0.02em;
  line-height: 20px;
}
.employee__btn {
  max-width: 225px;
  margin-top: 23px;
}

.lesson {
  padding-top: 50px;
}
.lesson__inner {
  width: 100%;
  max-width: 466px;
}
.lesson__desc {
  margin-bottom: 17px;
}
.lesson__title {
  margin-bottom: 22px;
}
.lesson__text {
  max-width: 450px;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.lesson__list {
  margin-top: 46px;
}
.lesson__item {
  margin-bottom: 23px;
}
.lesson__item:last-of-type {
  margin-bottom: 0;
}
.lesson__pics {
  max-width: calc(100% - 466px);
  padding-left: 76px;
  padding-top: 105px;
}
.lesson__pic {
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
}
.lesson__pic:last-of-type {
  margin-bottom: 0;
}
.lesson__pic-count {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 77px;
  height: 67px;
  font-size: 46px;
  background-color: #fff;
  color: #00CCCA;
  font-weight: 700;
  padding-top: 5px;
  border-radius: 3px 10px 3px 12px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}
.lesson__pic-img {
  border: 5px solid #00CCCA;
  border-radius: 20px;
  height: 306px;
  overflow: hidden;
}
.lesson__pic-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l-step {
  position: relative;
  padding: 41px 50px 36px 46px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  min-height: 267px;
}
.l-step__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 33px;
  right: 22px;
  width: 64px;
  height: 64px;
}
.l-step__count {
  font-size: 46px;
  line-height: 1.4;
  margin-bottom: 15px;
  font-weight: 700;
  color: #44E5C9;
}
.l-step__name {
  font-size: 26px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.l-step__text {
  font-size: 17px;
  line-height: 24px;
  color: #575757;
  letter-spacing: 0.02em;
}
.l-step__img {
  display: none;
}

.workspace {
  padding-top: 92px;
}
.workspace__desc {
  margin-bottom: 15px;
}
.workspace__grid {
  margin-top: 50px;
  max-width: 1152px;
  margin-left: auto;
  margin-right: 26px;
  align-items: flex-start;
  justify-content: space-between;
}
.workspace__col {
  width: calc(50% - 31px);
  padding-left: 51px;
}
.workspace__col:nth-of-type(1) {
  position: relative;
}
.workspace__col:nth-of-type(1):before {
  opacity: 0.1;
  content: "";
  top: 10px;
  left: 6px;
  bottom: 14px;
  width: 17px;
  position: absolute;
  background-color: #00CCCA;
}
.workspace__item {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}
.workspace__item:last-of-type {
  margin-bottom: 0;
}
.workspace__item.--aifs {
  align-items: flex-start;
  position: relative;
  top: 18px;
}
.workspace__count {
  width: 40px;
  font-size: 63px;
  line-height: 63px;
  font-weight: 900;
  text-align: center;
  padding-top: 5px;
  background: linear-gradient(180deg, #0EEBB6 0%, #04B6CE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.workspace__text {
  width: calc(100% - 40px);
  padding-left: 20px;
  color: #575757;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  margin-top: 8px;
}
.workspace__text u {
  font-size: 13px;
  line-height: 19.5px;
}

.franch {
  z-index: 2;
  position: relative;
  padding-top: 98px;
}
.franch__authors {
  width: 725px;
}
.franch__img {
  width: 725px;
}
.franch__inner {
  width: calc(100% - 725px);
  padding-top: 185px;
}
.franch__certs {
  margin-top: 35px;
}

.quote {
  display: flex;
  padding-left: 73px;
}
.quote__icons {
  position: relative;
  width: 74px;
}
.quote__heart {
  left: 33px;
  top: 33px;
  position: absolute;
}
.quote__content {
  width: calc(100% - 74px);
  padding-left: 37px;
  padding-top: 16px;
}
.quote__logo {
  font-size: 61px;
  line-height: 76px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #00CCCA;
  font-weight: 900;
}
.quote__text {
  font-size: 21px;
  line-height: 1.4;
}

@keyframes fpulse {
  0% {
    box-shadow: 0px 0px 174px rgba(0, 0, 0, 0.08);
  }
  10% {
    box-shadow: 0px 0px 174px rgba(0, 0, 0, 0.08);
  }
  80% {
    box-shadow: 0px 0px 60px rgba(39, 39, 39, 0.05);
  }
  100% {
    background-color: transparent;
    box-shadow: 0px 0px 174px rgba(0, 0, 0, 0);
    transform: scale(70);
  }
}
.authors {
  position: relative;
}
.authors__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.1px;
  width: 845px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #EBEBEB;
  border-radius: 13px;
  background-color: #fff;
  padding: 41px 41px 37px 41px;
  transform: skew(-21deg);
  position: absolute;
  left: 405px;
  top: 0;
}
.authors__title span {
  display: inline-block;
  transform: skew(21deg);
}
.authors__img {
  z-index: 10;
  position: relative;
}
.authors__item {
  z-index: 11;
  position: absolute;
  background-color: #fff;
  font-size: 19px;
  line-height: 31px;
  padding: 21px 36px 17px 39px;
  white-space: nowrap;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  transform: skew(-8deg);
  font-weight: 700;
}
.authors__item span {
  display: inline-block;
  transform: skew(8deg);
}
.authors__item:after {
  z-index: 1;
  content: "";
  position: absolute;
  top: -15px;
  right: -16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #00CCCA;
  transform: skew(8deg);
}
.authors__item:nth-of-type(1) {
  left: 26px;
  top: 597px;
  padding-left: 31px;
  padding-right: 31px;
}
.authors__item:nth-of-type(2) {
  left: 558px;
  top: 280px;
}
.authors__item.--left:after {
  left: -15px;
  right: auto;
}
.authors__item.--bottom:after {
  top: auto;
  bottom: -15px;
}
.authors__pulse {
  position: absolute;
  top: 220px;
  left: 230px;
}
.authors__pulse div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.authors__pulse div:nth-of-type(1) {
  animation: fpulse 8s infinite 0s;
}
.authors__pulse div:nth-of-type(2) {
  animation: fpulse 8s infinite 2s;
}
.authors__pulse div:nth-of-type(3) {
  animation: fpulse 8s infinite 4s;
}
.authors__pulse div:nth-of-type(4) {
  animation: fpulse 8s infinite 6s;
}
.authors__pulse div:nth-of-type(5) {
  animation: fpulse 6s infinite 4s;
}
.authors__pulse div:nth-of-type(6) {
  animation: fpulse 6s infinite 5s;
}

.certs {
  z-index: 10;
  position: relative;
  margin-top: -370px;
}
.certs__inner {
  position: relative;
  overflow: visible;
}
.certs__list {
  padding-left: 230px;
}
.certs__title {
  font-size: 26px;
  line-height: 25px;
  letter-spacing: 0.01em;
  font-weight: 900;
  width: 308px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: 230px;
}
.certs__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 252px;
  height: 414px;
  transition: 0.3s;
  cursor: pointer;
}
.certs__item.swiper-slide-active {
  width: 308px;
}
.certs__item.--hidden {
  opacity: 0;
  visibility: hidden;
}
.certs__controls {
  position: relative;
  margin-top: 17px;
  margin-left: auto;
  margin-right: 230px;
  width: 308px;
  height: 35px;
  font-size: 0;
}
.certs__controls .swiper-pagination-bullet {
  opacity: 1;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #fff;
  margin-top: 0;
}
.certs__controls .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #00CCCA;
}
.certs__arrows {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: auto;
}
.certs__arrow {
  z-index: 10;
  position: relative;
}
.certs__arrow.btn {
  width: 35px;
  height: 35px;
  background-color: #00CCCA;
  border-radius: 4px;
  margin-top: 0;
  top: 0;
}
.certs__arrow.btn:after {
  display: none;
}
.certs__arrow.btn.--prev {
  margin-left: 43px;
  left: auto;
}
.certs__arrow.btn.--next {
  margin-right: 43px;
  margin-left: auto;
}

.rate {
  z-index: 3;
  position: relative;
  padding-top: 305px;
  margin-top: -280px;
  color: #fff;
  height: 549px;
  position: relative;
  overflow: hidden;
}
.rate__title {
  margin-bottom: 8px;
}
.rate__desc {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  margin-bottom: 14px;
}
.rate__form {
  margin-left: -10px;
  margin-right: -10px;
}
.rate__input, .rate__btn {
  width: calc(100% / 4 - 20px);
  margin-left: 10px;
  margin-right: 10px;
}
.rate__policy {
  margin-top: 14.5px;
  margin-left: 10px;
  margin-right: 10px;
}
.rate__policy a {
  color: #fff;
  border-color: #fff;
}
.rate__policy a:hover {
  border-color: transparent;
}
.rate__img {
  position: absolute;
  top: -180px;
  right: -180px;
  transform: scale(-1, 1) rotate(10deg);
}
.rate__bg {
  width: 1920px;
  height: 549px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tariffs {
  padding-top: 100px;
}
.tariffs__content {
  margin-bottom: 120px;
}
.tariffs__titles {
  width: 520px;
}
.tariffs__desc {
  margin-bottom: 11px;
}
.tariffs__text {
  width: 625px;
  padding-top: 25px;
  margin-left: auto;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.tariffs__list {
  display: flex;
  border-radius: 6px;
  border: 1px solid #EBEBEB;
  background-color: #fff;
  padding-left: 10px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}
.tariffs__item {
  width: 100%;
  padding: 48px 30px 32px;
  border-radius: 12px;
}
.tariffs__item.--popular {
  background-color: #00CCCA;
  margin-top: -55px;
  margin-bottom: 45px;
  margin-left: 50px;
  margin-right: 82px;
  min-width: 292px;
}

.tariff {
  z-index: 1;
  position: relative;
}
.tariff.--popular {
  color: #fff;
  padding-top: 62px;
  box-shadow: 0px 42px 34px rgba(0, 204, 202, 0.21);
  position: relative;
}
.tariff.--popular:after {
  position: absolute;
  z-index: -1;
  content: "";
  background: url("../imgs/tariff-popular-bg.svg") no-repeat center;
  width: 103px;
  height: 367px;
  top: 0;
  right: 0;
}
.tariff.--popular .tariff__price-one i {
  color: #fff;
}
.tariff__label {
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  font-weight: 700;
  padding: 6px 17.5px 5px;
  background-color: #F67A49;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  top: 20px;
  right: 13px;
}
.tariff__price-one {
  font-size: 21px;
  vertical-align: center;
  margin-bottom: 37px;
}
.tariff__price-one i {
  font-size: 17px;
  color: #848199;
  margin-left: 6px;
  display: inline-block;
  font-weight: 700;
}
.tariff__price-full {
  font-size: 31px;
  line-height: 37px;
  font-weight: 900;
  letter-spacing: 0.02em;
}
.tariff__name {
  font-size: 30px;
  line-height: 42px;
  font-weight: 900;
  letter-spacing: 0.02em;
  margin-bottom: 6px;
}
.tariff__text {
  font-size: 15px;
  line-height: 21px;
  max-width: 235px;
  margin-bottom: 18px;
}
.tariff__btn {
  display: inline-flex;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.faq {
  padding-top: 130px;
}
.faq__content {
  width: 100%;
  max-width: 418px;
}
.faq__icon {
  margin-top: 5px;
  margin-left: -11px;
}
.faq__title {
  margin-bottom: 12px;
  line-height: 42px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.faq__text {
  font-size: 20px;
  line-height: 28px;
  max-width: 390px;
}
.faq__phones {
  margin-top: -10px;
}
.faq__list {
  width: 100%;
  max-width: 630px;
  margin-left: auto;
}
.faq__item {
  position: relative;
  margin-bottom: 50px;
  padding-left: 40px;
}
.faq__item:last-of-type {
  margin-bottom: 0;
}
.faq__item:before {
  content: "";
  width: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #00CCCA;
  border-radius: 10px 0px 0px 10px;
}
.faq__item:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  right: 0;
  bottom: -25px;
  background: rgba(0, 0, 0, 0.1);
}
.faq__item.--open .faq__a-icon {
  background-color: #fff;
}
.faq__item.--open .faq__a-icon:before {
  background-color: #00CCCA;
}
.faq__item.--open .faq__a-icon:after {
  background-color: transparent;
}
.faq__item.--open .faq__q {
  max-height: 100%;
  overflow: visible;
  padding-top: 10px;
}
.faq__a {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.faq__a-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  width: 100%;
  padding-right: 15px;
}
.faq__a-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 35px;
  width: 35px;
  height: 35px;
  border: 1px solid #00CCCA;
  margin-left: auto;
  border-radius: 4px;
  background: #00CCCA;
}
.faq__a-icon:before, .faq__a-icon:after {
  content: "";
  width: 14px;
  height: 2px;
  border-radius: 50px;
  background-color: #fff;
}
.faq__a-icon:after {
  transform: rotate(-90deg);
  margin-top: -2px;
}
.faq__q {
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s;
}
.faq__q-text {
  font-size: 18px;
  line-height: 23px;
  width: 100%;
  max-width: 520px;
}
.faq__q-text p {
  margin-bottom: 20px;
}
.faq__q-text p:last-of-type {
  margin-bottom: 0;
}

.order {
  z-index: 1;
  position: relative;
  padding-top: 45px;
  padding-bottom: 50px;
}
.order__title {
  font-size: 30px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 13.5px;
}
.order__title u {
  display: inline-block;
  font-size: 50px;
  line-height: 95px;
  font-weight: 900;
  letter-spacing: 0.04em;
}
.order__title i {
  color: #00CCCA;
  font-weight: 900;
}
.order__title:before {
  top: 9px;
  left: -28px;
}
.order__inner {
  align-items: center;
}
.order__you {
  font-size: 30px;
  line-height: 57px;
  font-weight: 700;
  width: 108px;
  text-transform: uppercase;
}
.order__list {
  width: calc(100% - 108px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order__item {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.order__item:last-of-type {
  padding-right: 0;
}
.order__item-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background-color: #00CCCA;
}
.order__item-text {
  width: calc(100% - 46px);
  padding-left: 15px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.order__wrap {
  margin-top: 67.5px;
  padding: 40px;
  width: 100%;
  max-width: 846px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 120px 120px rgba(22, 34, 51, 0.08), 0px 64px 64px rgba(22, 34, 51, 0.12), 0px 32px 32px rgba(22, 34, 51, 0.04), 0px 24px 24px rgba(22, 34, 51, 0.04), 0px 4px 24px rgba(22, 34, 51, 0.04), 0px 4px 4px rgba(22, 34, 51, 0.04);
}
.order__bg {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1364px;
  height: 596px;
  transform: translateX(-50%);
}

.oform {
  display: flex;
  flex-wrap: wrap;
}
.oform__content {
  width: 100%;
  max-width: 380px;
}
.oform__title {
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.oform__text {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
}
.oform__inner {
  margin-left: auto;
  width: 100%;
  max-width: 316px;
}
.oform__input {
  margin-bottom: 11px;
}
.oform__btn {
  margin-top: 20px;
  width: 100%;
}
.oform__btn.btn {
  padding-left: 10px;
  padding-right: 10px;
}
.oform__policy {
  margin-top: 20px;
}

.footer {
  border-top: 1px solid #DADADA;
  margin-top: -2px;
  background: #F5F6F8;
  padding-top: 43px;
  padding-bottom: 20px;
}
.footer__company {
  width: 300px;
}
.footer__logo {
  margin-bottom: 10.5px;
}
.footer__desc {
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0.02em;
  color: #808080;
}
.footer__socials {
  margin-top: 25px;
}
.footer__navs {
  width: 440px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 22px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.footer__nav ul {
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
}
.footer__nav li {
  font-size: 16px;
  line-height: 19.3px;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
}
.footer__nav li:last-of-type {
  margin-bottom: 0;
}
.footer__nav a:hover {
  color: #00CCCA;
}
.footer__contacts {
  width: 100%;
  max-width: 270px;
  text-align: right;
}
.footer__phone {
  margin-bottom: 15px;
}
.footer__phone-value {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.footer__email {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.footer__email-icon {
  min-width: 32px;
}
.footer__email-value {
  padding-left: 12px;
  white-space: nowrap;
  font-size: 29px;
  line-height: 31px;
  letter-spacing: 0.01em;
}
.footer__info {
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #808080;
}
.footer__bot {
  margin-top: 48px;
  margin-left: -10px;
  margin-right: -10px;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.68);
}
.footer__bot a {
  color: rgba(0, 0, 0, 0.68);
  border-color: rgba(0, 0, 0, 0.3);
}
.footer__bot a:hover {
  border-color: transparent;
}
.footer__bot p {
  margin-bottom: 13px;
}
.footer__bot p:last-of-type {
  margin-bottom: 0;
}
.footer__bl, .footer__bm, .footer__br {
  width: 33.333%;
  padding-left: 10px;
  padding-right: 10px;
}
.footer__bm {
  text-align: center;
}
.footer__br {
  text-align: right;
}

.pform {
  z-index: 1;
  width: 100%;
  max-width: 695px;
  position: relative;
  background: #F5F6F8;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}
.pform__close {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.pform__close:before, .pform__close:after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #00CCCA;
  transition: 0.3s;
  border-radius: 10px;
  transition: 0.3s;
}
.pform__close:before {
  transform: rotate(45deg);
}
.pform__close:after {
  transform: rotate(-45deg);
  margin-top: -2px;
}
.pform__close:hover:before, .pform__close:hover:after {
  background-color: #F67A49;
}
.pform__wrap {
  padding: 70px 50px 55px 50px;
}
.pform__title {
  font-size: 25px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  max-width: 300px;
  margin-bottom: 10px;
}
.pform__text {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  margin-bottom: 25px;
  max-width: 370px;
}
.pform__input, .pform__policy {
  width: 100%;
  max-width: 310px;
}
.pform__input {
  margin-bottom: 10px;
}
.pform__policy {
  margin-top: 25px;
}
.pform__btn {
  margin-top: 48px;
  width: 100%;
  max-width: 415px;
}
.pform__btn.btn {
  font-size: 18px;
  text-transform: uppercase;
}
.pform__bg {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.thanks {
  z-index: 1;
  width: 100%;
  max-width: 695px;
  position: relative;
  background: #F5F6F8;
  padding: 57px 100px 72px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}
.thanks__close {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30px;
  height: 30px;
  background-color: #00CCCA;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border-radius: 0 0 0 6px;
}
.thanks__close:before, .thanks__close:after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
  border-radius: 10px;
  transition: 0.3s;
}
.thanks__close:before {
  transform: rotate(45deg);
}
.thanks__close:after {
  transform: rotate(-45deg);
  margin-top: -2px;
}
.thanks__close:hover {
  background-color: #F67A49;
}
.thanks__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.thanks__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #00CCCA;
  box-shadow: inset -10px -10px 20px #0AB3B1;
  margin-bottom: 15px;
}
.thanks__title {
  font-size: 25px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.thanks__text {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.xmodal-show {
  overflow: hidden;
  min-height: 100%;
}

.xmodal {
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  touch-action: none;
}
.xmodal__wrap, .xmodal__bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}
.xmodal__wrap {
  z-index: 5000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: 30px;
}
.xmodal__wrap * {
  touch-action: none;
}
.xmodal__wrap.--add-touch * {
  touch-action: auto;
}
.xmodal__bg {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}
.xmodal.--show {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 100%;
  display: none;
  position: relative;
}

@media screen and (max-width: 1920px) {
  .scroll {
    left: -100px;
  }
  .scroll__text {
    position: relative;
    left: -30px;
    max-width: 120px;
  }
}
@media screen and (max-width: 1340px) {
  .header__nav {
    margin-right: 55px;
  }

  .intro__item {
    width: calc( 100% / 3 );
    padding: 30px;
    white-space: normal;
    text-align: center;
  }

  .help {
    padding-top: 110px;
  }
  .help__img {
    left: 0;
    max-width: 450px;
  }

  .online__img {
    width: 850px;
    left: -70px;
  }

  .workspace__text br {
    display: none;
  }

  .franch__authors {
    width: 620px;
  }
  .franch__inner {
    width: calc(100% - 620px);
  }
  .franch__quote {
    padding-left: 0;
  }

  .authors__title {
    z-index: 1;
    width: 800px;
    position: relative;
    left: 170px;
  }
  .authors__pulse {
    top: 450px;
  }
  .authors__item:nth-of-type(2) {
    top: 390px;
    left: 460px;
  }

  .tariffs__text {
    width: calc( 100% - 520px );
    padding-left: 20px;
  }
  .tariffs__item.--popular {
    margin-right: 0;
    margin-left: 0;
  }

  .faq {
    padding-top: 100px;
  }
  .faq__phones {
    margin-top: 0;
  }

  .order__item-text br {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .header {
    padding-top: 32px;
  }
  .header__nav {
    margin-right: auto;
  }
  .header__nav ul {
    margin-right: -15px;
    margin-left: -15px;
  }
  .header__nav ul li {
    margin-right: 15px;
    margin-left: 15px;
  }
  .header__socials {
    margin-right: 15px;
  }
  .header__callback {
    font-size: 16px;
  }
  .header__desc {
    letter-spacing: 0;
  }

  .logo {
    font-size: 28px;
    line-height: 26px;
  }

  .intro__wrap {
    flex-direction: column;
  }
  .intro__content {
    padding-top: 50px;
    max-width: 780px;
  }
  .intro__title {
    margin-bottom: 10px;
  }
  .intro__text {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .intro__img-wrap {
    position: relative;
    width: 550px;
    top: -230px;
    right: -60px;
    margin-left: auto;
  }
  .intro__name {
    top: 555px;
  }
  .intro__list {
    margin-top: 305px;
  }

  .int-img__text-plus {
    top: -110px;
  }
  .int-img__text-eazy {
    top: 190px;
  }

  .help {
    padding-bottom: 110px;
  }
  .help__content {
    margin-top: 0;
    max-width: 450px;
  }
  .help__img {
    left: -50px;
    bottom: -50px;
  }
  .help__img img {
    transform: scale(1.2);
  }
  .help__figure-left {
    display: none;
  }
  .help__text-plus {
    right: -86px;
  }

  .team__grid {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .team__elem {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
  }
  .team__elem:last-of-type {
    margin-bottom: 0;
  }

  .employee__inner {
    width: calc(100% - 352px);
  }

  .workspace__grid {
    margin-right: 0;
  }
  .workspace__item.--aifs {
    top: 0;
  }

  .franch__inner {
    order: 1;
    width: 450px;
    height: 150px;
    padding-top: 190px;
    margin-left: auto;
  }
  .franch__authors {
    order: 2;
  }

  .authors__title {
    position: absolute;
    height: 152px;
    width: 730px;
    top: -190px;
    left: 110px;
  }
  .authors__pulse {
    top: 230px;
  }

  .quote__content {
    padding: 0;
  }

  .rate__title, .rate__desc {
    z-index: 2;
    position: relative;
  }
  .rate__form {
    z-index: 2;
    position: relative;
    margin-bottom: -20px;
  }
  .rate__input, .rate__btn {
    width: calc(100% / 2 - 20px);
    margin-bottom: 20px;
  }

  .tariffs__item {
    padding: 48px 20px 32px;
  }

  .faq {
    padding-top: 130px;
    padding-bottom: 110px;
  }
  .faq__content {
    margin-bottom: 62px;
  }
  .faq__phones {
    position: absolute;
    top: -80px;
    right: 80px;
    width: 310px;
  }
  .faq__list {
    max-width: 830px;
    margin-left: 0;
    margin-right: auto;
  }

  .order__title u {
    display: block;
    line-height: 75px;
  }

  .oform__title br {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .header__logo {
    width: 180px;
  }
  .header__nav {
    width: calc( 100% - 180px );
    padding-top: 13px;
    margin: 0;
  }
  .header__nav ul {
    justify-content: flex-end;
  }
  .header__contacts {
    padding-top: 0;
    margin-left: auto;
    margin-top: -20px;
  }
  .header__socials {
    margin-right: 32px;
  }
  .header__callback {
    font-size: 17px;
  }

  .logo {
    font-size: 30px;
    line-height: 38px;
  }

  .intro__content {
    padding-top: 75px;
    max-width: 580px;
  }
  .intro__label {
    margin-bottom: 32px;
  }
  .intro__title {
    margin-bottom: 12px;
  }
  .intro__text {
    font-size: 20px;
    line-height: 28px;
    max-width: 420px;
  }
  .intro__text br {
    display: none;
  }
  .intro__list {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -19px;
    margin-right: -19px;
    margin-bottom: -54px;
  }
  .intro__name {
    display: none;
  }
  .intro__item {
    width: calc( 100% / 2 - 38px );
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 54px;
  }
  .intro__item:last-of-type {
    width: 490px;
  }

  .int-img__img {
    width: 511px;
    top: 60px;
    right: -70px;
  }
}