.input__wrap {
  position: relative;
}
.input__area {
  width: 100%;
  font-size: 14px;
  font-family: "Gilroy", sans-serif;
  color: #112436;
  transition: 0.3s;
  border: 1px solid transparent;
}
.input.--sm .input__area {
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
}
.input.--md .input__area {
  height: 70px;
  padding-left: 16px;
  padding-right: 16px;
}
.input.--bg-white .input__area {
  border-radius: 6px;
  background-color: #fff;
}
.input.--bg-white .input__area::placeholder {
  opacity: 1;
  color: #A9A9A9;
}
.input.--b-gray .input__area {
  font-size: 15px;
  letter-spacing: 0.02em;
  border-radius: 6px;
  border: 1px solid #D0D0D0;
}
.input.--b-gray .input__area::placeholder {
  opacity: 1;
  color: #A9A9A9;
}
.input.--b-gray .input__area:focus {
  border-color: #00CCCA;
}
.input.--error .input__area {
  border-color: #f00;
}