extends ../../templates/default
block vars
	-
		title = "Оплата прошла успешно"
block content
	.page
		.case
			.page__wrap
				.page__icon
					img(src="_/uploads/check.svg" alt="")
				.page__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, sunt.